contourpy       
cycler          
deap            
fonttools       
kiwisolver      
matplotlib      
numpy           
packaging       
pillow                       
pyparsing       
python-dateutil 
setuptools      
six             